/* Aligned Stuff */

.aligned-label {
  float: left;
  text-align: left;
  font-weight: bold;
  width: 12%;
}

.aligned-value {
	float: left;	
}

.aligned-line {
	clear: left;
}

label {
	display: block;
	width: 200px;
	float: left;
	margin-bottom: 5px;
}

label {
	text-align: right;
	width: 130px;
	padding-right: 20px;
	white-space: nowrap;
}

br {
	clear: left;
}

/* Map Grid */

.map_square {
	font-size: 1px;
}

#map_current_pos {
	border: 1px solid blue;
}

/* Main Layout */

.main, .dijitMenuItemLabel {
	font-size: 9pt;
	font-family: verdana, kalimati, helvetica;
}

.tundra .dijitSplitContainer-dijitContentPane, .tundra .dijitBorderContainer-dijitContentPane, .content-background {
	background: #9F8D77;
	border: 0px;		
}

.tundra .dijitSplitterV, .tundra .dijitGutterV {
	background: #9F8D77;
	border: 0px;	
}

.tundra .dijitBorderContainer {
	background: #9F8D77;
	border: 0px;
}

#content-outer {
	width: 83%;
	height: auto;
	min-height: 250px;
	float: left;
	margin-left: 15px;	
	background: #9F8D77;			
}

#content-inner {
	padding: 20px;
	height: auto;
	min-height: 250px;
}

#border-left {
	background: 
		url(/static/images/vertical1.gif) 
   		top left repeat-y;	
}

#border-right {
	background: 
		url(/static/images/vertical1.gif) 
    	top right repeat-y;
}

#border-bottom {
	background: 
		url(/static/images/horizontal1.gif) 
    	bottom left repeat-x;
}

#border-top {	
	background:		 
		url(/static/images/horizontal1.gif) 
   		top left repeat-x;			
}

a {
	color: #2F2620;
}

a:visited {
	color: #2F2620;
}

#body {
	background: #D3D3D3;
}

/* Left Nav */

.nav {
	font-size: 10pt;
	font-family: verdana;

	width: 130px;
	float: left;
	padding: 2px;
}

.nav a {
	width: 100%;
	text-decoration: none;
	display: block;
	color: #2F72FF;
}
html>body .nav a {width: auto}

.nav a:visited {
	color: #2F72FF;
}

.nav a:hover {
	background: #9FB7FF;
	color: white;
}

.main-nav a:hover {
	background: #D3D3D3;
}

/* DnD */

.main-highlighted-col {
	background: #A09AFF;
}

.target {border: 1px dotted gray; padding: 5px;-moz-border-radius:8pt 8pt;radius:8pt;}
.source {border: 1px dotted skyblue;-moz-border-radius:8pt 8pt;radius:8pt;}
.dojoDndItemOver {background: #feb;border: 1px dotted gray; }
.dojoDndItemBefore {border-left: 2px dotted gray; }
.dojoDndItemAfter {border-right: 2px dotted gray; }
.target .dojoDndItemAnchor {border:1px solid gray;}
.dojoDndAvatar {font-size: 75%; color: black;}
.dojoDndAvatar td {padding-left: 20px; padding-right: 4px;height:20px}
.dojoDndAvatarHeader {background: #ccc; background-repeat: no-repeat;}
.dojoDndAvatarItem {background: #eee;}
.dojoDndMove .dojoDndAvatarHeader {background-image: url(images/dndNoMove.png);}
.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader {background-image:
        url(images/dndMove.png);}
                
.dojoDndItemBefore {border-left: 2px dotted gray; } 

.dojoDndItemAfter {border-right: 2px dotted gray; }

.dijitButtonText { font-size: 10pt }

/* Login Form */

.outer {
	width: 30%;
	top: 40%;
	position: absolute;
	left: 33%;
}

#guest a {
	color: #0000FF;
}

/* Combat */
.combat-party-attacker, .combat-party-defender, .combat-creature-attacker, .combat-creature-defender, .combat-weapon {
	font-weight: bold;
}

.combat-party-attacker, .combat-party-defender {
	color: #000AA3;
}

.combat-creature-attacker, .combat-creature-defender {
	color: #B40000;
}

.attack-error {
	background: red;
	color: white;
}

/* Misc */

#rank_separator {
	background: #000;
	height: 5px;
}

#current-selection {
	background: #D3D3D3;
}

.login-info {
	font-size: 7pt;
}

.menuExpandIcon {
	   background-image:
	      url(http://ajax.googleapis.com/ajax/libs/dojo/1.1.1/dijit/themes/tundra/images/arrowRight.gif);
		  background-position: 5px 5px;
}

.dojoDndItemOver {
	border: 0px;
	background: inherit;
}
