/* Aligned Stuff */

.aligned-label {
  float: left;
  text-align: left;
  font-weight: bold;
  width: 12%;
}

.aligned-value {
	float: left;	
}

.aligned-line {
	clear: left;
}

label {
	display: block;
	width: 200px;
	float: left;
	margin-bottom: 5px;
}

label {
	text-align: right;
	width: 130px;
	padding-right: 20px;
	white-space: nowrap;
}

br {
	clear: left;
}

/* Map Grid */

.map_square {
	font-size: 1px;
}

#map_current_pos {
	border: 1px solid blue;
}

.map-row {
	clear: left;
}

.sector-outer {
	width: 40px; 
	height: 40px;
	float: left; 			
	text-align: center;
	display: inline;					
	font-size: 1px;
	position: relative;
}

/* Main Layout */

.main, .dijitMenuItemLabel {
	font-size: 9pt;
	font-family: verdana, kalimati, helvetica;
        color: #B5AFA9;
}

.tabLabel {
        color: black;
}

.tundra .dijitSplitContainer-dijitContentPane, .content-background {
	border: 0px;		
}

.tundra .dijitSplitterV, .tundra .dijitGutterV {
	background: black;
	border: 0px;	
}

.tundra .dijitBorderContainer, .tundra .dijitBorderContainer-dijitContentPane {

	border: 0px;
}

.tundra .dijitTabContainerTop-dijitContentPane, .tundra .dijitTabContainerLeft-dijitContentPane, .tundra .dijitTabContainerBottom-dijitContentPane, .tundra .dijitTabContainerRight-dijitContentPane, .tundra .dijitAccordionContainer-dijitContentPane {
	background-color: #2F2F2F;
}

.tundra .dijitTabPaneWrapper, .tundra .dijitTabContainerTop-tabs {
	border-color: #4D4D4D;
}

#content-outer {
	height: auto;
	min-height: 250px;
	width: 100%;
	max-width: 1250px;
	margin: auto;
}

a {
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF;
}

#body {
        background-color: black;
	background-image: url(/static/images/cocbg.jpg);
        background-size: cover;
}

h2 {margin: 0; padding: 0}
h1 {margin: 0; padding: 1px}

/* Main Screen */
#main-top-section {
  color: white;
  padding: 0px; 
  margin: 0px;
}

#main-middle-section, .tundra .dijitBorderContainer-dijitContentPane, .tundra .dijitBorderContainer {
  background-color: black;
  background-url: '';
  padding: 0px; 
  margin: 0px;
}

.line-sep {
	background-image: url(/static/images/layout/fadingline.png); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

	height: 2px;
}

.close-icon {
	background-image: url(/static/images/layout/closebutton.png);
	height: 17px;
	width: 17px;
	float: right;
}

.close-icon:hover {
	background-image: url(/static/images/layout/closebuttonpressed.png);
}

.back-icon {
	background-image: url(/static/images/layout/backbuttondefault.png);
	height: 13px;
	width: 21px;
	float: right;
	margin-top: 2px;
}

.back-icon:hover {
	background-image: url(/static/images/layout/backbuttonmouseover.png);
}

/* DnD */

.main-highlighted-col {
	background: #A09AFF;
}

.target {border: 1px dotted gray; padding: 5px;-moz-border-radius:8pt 8pt;radius:8pt;}
.source {}
.dojoDndItemOver {background: #feb;border: 1px dotted gray; }
.dojoDndItemBefore {border-left: 2px dotted gray; }
.dojoDndItemAfter {border-right: 2px dotted gray; }
.target .dojoDndItemAnchor {border:1px solid gray;}
.dojoDndMove .dojoDndAvatarHeader {background-image: url(images/dndNoMove.png);}
.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader {background-image:
        url(images/dndMove.png);}
                
.dojoDndItemBefore {border-left: 2px dotted gray; } 

.dojoDndItemAfter {border-right: 2px dotted gray; }

.dijitButtonText { font-size: 10pt }

.tundra .dojoDndAvatar {font-size: 75%; color: white;}
.tundra .dojoDndAvatar td {padding-left: 20px; padding-right: 4px;height:20px;}
.tundra .dojoDndAvatarHeader { background-repeat: no-repeat;}
.tundra .dojoDndAvatarItem {background: #000;}

/* Login Form */

.outer {
	width: 30%;
	top: 40%;
	position: absolute;
	left: 33%;
}

#guest a {
	color: #0000FF;
}

/* Combat */
.combat-party-attacker, .combat-party-defender, .combat-creature-attacker, .combat-creature-defender, .combat-weapon {
	font-weight: bold;
}

.combat-party-attacker, .combat-party-defender {
	color: #4F5D9F;
}

.combat-creature-attacker, .combat-creature-defender {
	color: #B40000;
}

.attack-error {
	background: red;
	color: white;
}

/* Dialog */

.tundra .dijitDialog .dijitDialogPaneContent {
	background: black;
        font-family: verdana, kalimati, helvetica;
        font-size: 9pt;
	color: white;
}

.dj_webkit .tundra .dijitDialog {
	-webkit-box-shadow: 1px 1px 1px #6B6B6B;
}


.tundra .dijitDialogTitleBar, .tundra .dijitDialogTitle, .tundra .dijitButtonContents, .tundra .dijitMenuItemLabel, .tundra .dijitMenu, .tundra .dijitReset {
	color: black;
}

.tundra .dijitDialogTitle {
        font-family: verdana, kalimati, helvetica;
        font-size: 9pt;
}

.dijitDialogUnderlay {
	background:none repeat scroll 0 0 #000000;
	opacity:0.5;
}

.text-block {
	border: 1px solid black; 
	background: #2F2F2F;
	color: #EECAA2; 
	-moz-border-radius-bottomleft:14pt; 
	-moz-border-radius-bottomright:14pt;
	-moz-border-radius-topleft:14pt; 
	-moz-border-radius-topright:14pt; 
	padding: 5px
}

/* Character View */
.characterStats {
	font-size: 8pt;
	font-family: verdana, kalimati, helvetica;
}

/* Action buttons */
.actionButton .dijitButtonNode {
    border-width: 0px;
    padding: 0;
    height: 100%;
    background: none;
}

.actionButton .dijitButtonText {
    padding: 0px;
}

.actionButton .dijitTooltipConnector {
    display: none;
}

.dijitTooltipDialogPopup .dijitTooltipBelow {
    padding-top: 1px;
}

.actionButton .dijitTooltipContainer {
    background: black;
    padding: 1px;
}

.actionButton .dijitDropDownButton {
    margin: 0px;
}

.actionButton .dijitArrowButtonInner {
    display: none;
}

.actionButton {
    vertical-align: top;
    height: 30px;
}

.tundra .dijitDropDownButtonHover .dijitButtonNode, .tundra .dijitComboButton .dijitButtonContentsHover, .tundra .dijitComboButton .dijitDownArrowButtonHover {
    background: none;
}

.tundra .dijitButtonActive .dijitButtonNode, .tundra .dijitButtonNodeActive, .tundra .dijitToggleButtonActive .dijitButtonNode, .tundra .dijitDropDownButtonActive .dijitButtonNode, .tundra .dijitComboButton .dijitButtonContentsActive, .tundra .dijitComboButton .dijitDownArrowButtonActive {
    background: none;
}


/* Misc */

#rank_separator {
	background: #000;
	height: 5px;
}

#current-selection, .current-selection {
	background: #5F5F5F;
}

.login-info {
	font-size: 7pt;
	float: left;
}

.menuExpandIcon {
	   background-image:
	      url(http://ajax.googleapis.com/ajax/libs/dojo/1.1.1/dijit/themes/tundra/images/arrowRight.gif);
		  background-position: 5px 5px;
}

.dojoDndItemOver {
	border: 0px;
	background: inherit;
}

.sellItemSelected {
	background: #AFB9FF;
}

div.enlargedTitle {
	font-size: 20px;
}

.stat-label {
	font-weight: bold;
}

.kingdomsTabContainer {
	height:400px;
	margin: auto;
}

.smallTabContainer {
	height: 390px;
	min-height: 390px;
}

.tundra .dijitContentPaneLoading {
	background:url(images/layout/loader.gif) no-repeat left center;
	min-height: 24px;
	min-width: 24px;
}

.login-box {
	background: black; 
	border: 2px solid #4d4d4d; 
	margin: 2px;
        width: 450px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;	
}

/* Tooltip */

.tundra .dijitTooltipContainer, .cluetip-tooltip, #cluetip-waitimage
{
	background: black;
	color: #EECAA2;
	padding:3px;
	margin:0;
	border: 1px solid #4d4d4d;
	height:auto;
	width:auto;
	opacity: 0.9;	
	font-family: verdana, kalimati, helvetica;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
	-moz-box-shadow: 1px 1px 1px #6B6B6B;
        box-shadow: 1px 1px 1px #6B6B6B;
}

.cluetip-tooltip {
	display: none;
	z-index: 500;
	text-align: left;
	font-size: 9pt;
	font-family: verdana, kalimati, helvetica;
}


#cluetip-waitimage {
	background:url(images/layout/loader.gif) no-repeat left center;
	min-height: 24px;
	min-width: 24px;
}

.dj_webkit .tundra .dijitTooltipContainer {
	-webkit-box-shadow: 1px 1px 1px #6B6B6B;
}



.tundra .dijitTooltipAbove .dijitTooltipConnector { display:none; }
.tundra .dijitTooltipLeft .dijitTooltipConnector { display:none; }
.tundra .dijitTooltipBelow .dijitTooltipConnector { display:none; }
.tundra .dijitTooltipRight .dijitTooltipConnector { display:none; }

/* Equipment */
.item-droppable { background: green }
.item-blocked   { background: #8B0000 }

